@tailwind base;
@tailwind components;
@tailwind utilities;


.backgoundImage{
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/6cefb2f5-90be-4f57-adc4-f6c3c579273d/3943990c-f4e0-4147-82ad-f531e2b547f3/IN-en-20240401-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;

    transition: opacity 1s ease;
    top: 0;
    z-index: -1;
    align-items: center;
    flex-direction: column;

}